server:
  port: 8080

spring:
  application:
    name: lp-api
  profiles:
    active: local
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
