name: LP Deploy to HS

on:
  push:
    branches: [develop]
#    paths:
#      - 'src/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Create resources folder
        run: mkdir -p ./src/main/resources

      - name: Inject application.yml
        run: |
          echo "${{ secrets.APPLICATION_YML }}" > ./src/main/resources/application.yml

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon -x test

      - name: Set SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Rsync files to server
        run: |
          rsync -avz --delete -e "ssh -o StrictHostKeyChecking=no" ./ ${{ secrets.HOME_SERVER_USER }}@${{ secrets.HOME_SERVER_HOST }}:~/lp/

      - name: Run compose
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HOME_SERVER_USER }}@${{ secrets.HOME_SERVER_HOST }} "
            cd ~/lp &&
            docker compose down &&
            docker compose up -d --build
          "